<%- model_class = Combustible -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nombre) %></th>
      <th><%= t 'helpers.actions' %></th>
    </tr>
  </thead>
  <tbody>
    <% @combustibles.each do |combustible| %>
      <tr>
        <td><%= link_to combustible.id, combustible_path(combustible) %></td>
        <td><%= combustible.nombre %></td>
        <td>
          <%= link_to InformacionBencina.model_name.human, combustible_informaciones_bencina_path(combustible.id), :class => 'btn btn-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
