<%- model_class = Precio -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:region) %></th>
      <th><%= model_class.human_attribute_name(:comuna) %></th>
      <th><%= model_class.human_attribute_name(:combustible) %></th>
      <th><%= model_class.human_attribute_name(:precio_minimo) %></th>
      <th><%= model_class.human_attribute_name(:precio_maximo) %></th>
      <th><%= model_class.human_attribute_name(:precio_promedio) %></th>
      <th><%= model_class.human_attribute_name(:updated_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @precios.each do |precio| %>
      <tr>
        <td><%= link_to precio.id, precio_path(precio) %></td>
        <td><%= precio.region %></td>
        <td><%= precio.comuna %></td>
        <td><%= precio.combustible %></td>
        <td><%= number_to_currency(precio.precio_minimo) %></td>
        <td><%= number_to_currency(precio.precio_maximo) %></td>
        <td><%= number_to_currency(precio.precio_promedio) %></td>
        <td><%=l precio.updated_at, :format => :long %></td>
      </tr>
    <% end %>
  </tbody>
</table>

